.container {
    width: 100%;
    padding-bottom: 112px;
}

.wrapper {
    padding-top: 40px;
    width: 1110px;
    margin: 0 auto;
}

.contacts > div {
    padding-bottom: 0;
}

.title {
    margin-bottom: 40px;
    margin-top: 108px;
}

.downloadLink {
    margin-top: 20px;
}
