.root {
    padding: 24px 0 108px 0;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
}

.filterWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.filterSearchWrapper {
    position: relative;
}

.filterSearchWrapper svg {
    position: absolute;
    left: 32px;
    top: 14px;
}

.filterSearch {
    width: 744px;
    padding: 12px 30px 12px 64px;
    background: #FCFCFC;
    color: #0F0F0F;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.filterSearch::placeholder {
    color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.filterSettings {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    background: #FCFCFC;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.filterSettings:hover {
    color: rgba(0, 0, 0, 0.8);
}

.filterSettings:active {
    color: rgba(0, 0, 0);
}


.filterSettings svg {
    margin-right: 12px;
}

.stuffCategoriesWrapper {
    display: flex;
    align-items: center;
}

.stuffCategory {
    padding: 4px 33px;
    background: #F0F7FD;
    border-left: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    color: rgba(18, 32, 76, 0.6 );
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    cursor: pointer;
}

.stuffCategory:hover {
    color: rgba(18, 32, 76);
}

.stuffCategory:first-child {
    border-radius: 8px 0 0 0;
}

.stuffCategory:last-child {
    border-radius: 0 8px 0 0;
    border-right: 1px solid #E0E0E0;
}

.stuffCategoryActive {
    color: #12204C;
    background: #E0F1FF;
}
