.root {
    display: flex;
    align-items: center;
    color: #223E86;
}

.root svg {
    margin-right: 16px;
}

.section {
    border-bottom: 1px solid #223E86;
}

.section:hover {
    border-bottom: 1px solid #ffffff;
}

.slash {
    margin-left: 4px;
    margin-right: 8px;
}