.root {
    padding: 108px 0;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
}

.itemsWrapper {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 235px;
    padding: 8px 15px;
    background: #F0F7FD;
    border-radius: 8px;
    cursor: pointer;
    transition: 1s;
}

.item:hover {
    background: #e3effa;
}

.date {
    font-family: "Open Sans";
    color: #A5A5A5;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.text {
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 27px;
}

.headerWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 32px;
}

.button {
    font-family: 'Roboto';
    background: #F0F7FD;
    border-radius: 6px;
    padding: 4px 16px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    color: rgba(18, 32, 76, 0.8);
    transition: transform 0.25s;
}

.button:hover {
    font-family: 'Roboto';
    font-weight: 600;
    background: #F0F7FD;
    border-radius: 6px;
    padding: 4px 16px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    color: rgba(18, 32, 76, 0.8);
    transform: scale(1.1);
}